%ul.timeline
  - @article.versions.reverse.each do |version|
    - article = version.reify
    - next if article.blank?
    %li
      .timeline-badge.info
        %i.glyphicon.glyphicon-hand-left
      .timeline-panel
        .timeline-heading
          %h4.timeline-title 
            = "REV##{version.index}: #{article.title}"
          %p
            %small.text-muted
              %i.glyphicon.glyphicon-time
              = version.reify.updated_at
        .timeline-body
          - pre = version.previous.reify
          - if pre.present?
            %p
              = "#{diff(pre.content, article.content, {include_plus_and_minus_in_html: true})}".html_safe
