.list-group
  - @articles.each do |article|
    = link_to article_path(article), class: 'list-group-item media' do
      .media-left
        = image_tag article.user.icon_url
      .media-body
        %h6
          = "#{article.user.screen_name}が#{article.created_at.strftime('%Y/%m/%d')}に投稿"
        %h4
          = article.title
        - article.tags.each do |tag|
          %span.label.label-default.m5= tag.name

  = paginate @articles
